* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

main {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(217, 244, 255);
}

.pricing-box {
    min-height:50%;
    width:40%;  
    border-radius: 2rem;
}
.community {
    background: white;
    height: 20vh;
    width: 40vw;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 25px;
    
}
.parent-class {
    display: flex;
    min-height: 20vh;
    color: white;
}
.subscription {
    flex: 2;
    background: rgb(25, 172, 147);
    border-style: hidden;
    border-bottom-left-radius: 2rem;
    display:flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 30px;
}

.why-us {
    flex: 2;
    background: rgb(4, 241, 162);
    padding-top: 10px;
    border-bottom-right-radius: 2rem;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 30px;
}
h4 {
    padding-bottom: 20px;
}

.join {
    color: green;
}
.hassle {
    color: greenyellow
}
button {
    padding: 14px 40px;
    width: 300px;
    border-radius: 0.5rem;
    background-color: greenyellow;
    color: black;
    font-weight: 1000;
    margin-top: 25px;
}

button:hover {
    background: white;
    cursor: pointer;
}